DB_HOST=mongodb+srv://Igor:Gross37038263@cluster0.ohos347.mongodb.net/my-contacts?retryWrites=true&w=majority
DB_USER=
PASSWORD=
DB_NAME=
PORT=3000
SECRET_KEY=secret
ELASTICEMAIL_API_KEY=776EA378F4AA282A1F365F49EC8565291F924585988E1F07CAF0A87D42C18BE49884BFFE31249E647462BD1E0F5DA412
UKR_NET_EMAIL=ihor.boich@ukr.net
UKR_NET_PASSWORD=SSzLXwhmpBctfpdB
BASE_URL=http://localhost:4000





